html, body, #root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/*** COLOR THEMES ***/

$white: #fefefe;
$parchment: #f8f6f1;


/*** BOX SHADOW ***/

@mixin box-shadow($params...) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

.light-shadow {
  z-index: 50;
  @include box-shadow(0 0.125em 0.3125em rgba(0, 0, 0, 0.16), 0 0.125em 0.3125em rgba(0, 0, 0, 0.23));
}

/*** PAGE LAYOUT ***/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    width: 50%;
  }
}

/*** TYPOGRAPHY ***/

h3 {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

/*** PRIMARY LAYOUT ***/

.primary-layout {
  height: 100%;
  background-color: $white;
    > header {
      margin-bottom: 1em;
    }
}

.nav-bar {
  width: 100%;
  height: 3em;
  position: relative;
  justify-content: flex-start;
  background-color: $white;
    .heading {
      margin-block-start: 0;
      margin-block-end: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%)
    }
}

.home-link {
  position: absolute;
  left: 2em;
}

@import './versions/styles';
